@import 'tailwindcss';

@layer logos {
    .fa-php {
        color: #474a8a;
    }
}

@layer utilities {
    .glass-morphism {
        @apply backdrop-blur-[20px] backdrop-saturate-[100%] shadow-[0_8px_30px_rgba(2,6,23,0.35)];
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
    }

    .glow {
        filter: drop-shadow(0 0 7px var(--glow-color, #0fa));
    }
}

@layer base {
    body {
        font-family: var(--font-family, ui-sans-serif);
    }
}

:root {
    --body-padding: 30px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: var(--body-padding);
    background: var(--background, none);
    background-size: var(--bg-size, auto);
    background-color: var(--color-dark, #000);
    animation: var(--bg-animation, none);
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.glass-morphism {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
    }
}

@keyframes moveBg {
    0% {
        background-position:
            0% 0%,
            100% 50%,
            30% 100%;
    }
    100% {
        background-position:
            20% 30%,
            60% 10%,
            80% 70%;
    }
}

.app {
    margin-inline: auto;
    border-radius: 20px;
    min-height: 100vh;
    min-width: 100%;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

@import './themes.css';
